/* STYLE INSCRIPTION & CONNEXION */
body{
    background-image: url("../images/fond.jpg");
    background-size: cover;
    overflow: hidden;
}

#titre{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: black;
}

#formInscription{
    position: absolute;
    background-color: rgb(97, 97, 97);
    min-width: 30%;
    width: auto;
    height: auto;
    padding: 30px;
    top: 20%;
    left: 52%;
    border-radius: 3px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-right: 5px;
    margin-top: -35px;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#formConnexion{
    position: absolute;
    background-color: rgb(97, 97, 97);
    min-width: 30%;
    width: auto;
    height: auto;
    padding: 30px;
    top: 20%;
    left: 55%;
    border-radius: 3px;
}

